body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    color: black
}

.rainbow {
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    border: 2px dotted white;
    -webkit-background-clip: text;
    background-clip: text;
}

img {
    width: 200px;
    height: 200px;
}

h3 {
    color: white
}

.resultat {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px
}

section {
    display: flex;
    justify-content: space-evenly;
}

.reset_button_adjust {
    margin-left: auto;
    margin-right: auto;
}

.win {
    color: greenyellow;
}

.lose {
    color: red
}

.equal {
    color: white
}

::selection {
    color: white;
}